body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff
}

#firstReview, #noPass, #platform, #print, #secondReview {
    display: block
}

.container {
    border: 1px solid green;
    width: 800px;
    height: 500px
}

.container .top_row {
    text-align: center
}

.container .top_row #title_company {
    font-size: 6em;
    font-family: 微软雅黑;
    display: inline;
    margin: auto
}

.container .content .content_row {
    width: 100%;
    overflow: hidden;
    font-size: 3em
}

.container .content .content_row ul {
    line-height: 2em;
    margin: 0
}

.container .content .content_row ul li {
    float: left;
    list-style-type: none
}

.container .top_row #show_time {
    display: inline;
    font-size: 3em
}

.container .content {
    border-top: 1px solid #ff0
}

.container .content .scroll_part .content_scroll {
    border: 1px solid red;
    text-align: center;
    /*overflow: hidden;*/
    float: left;
    margin: 0;
    padding: 0;
    width: 19.6%
}

.container .content .scroll_part {
    font-size: 3em
}

.container .content .scroll_part .content_scroll .flag {
    border-bottom: 1px solid #fff;
    font-weight: bolder
}

.container .content .scroll_part .content_scroll .car_scroll {
    overflow: hidden;
    height: 200px
}

.container .content .scroll_part .content_scroll .car_no {
    font-size: .8em;
    height: 3em
}

.container .bottom_row {
    font-size: 3em;
    width: 100%;
    clear: both
}

.span_type1 {
    border: 1px solid #fff;
    width: 50%;
    float: left
}

.span_type2 {
    border: 1px solid #fff;
    width: auto
}

.span_type3 {
    display: block;
    border: 1px solid #fff;
    width: 100%
}

.span_type4 {
    display: block
}

.span_type5 {
    display: block;
}